body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0% auto;
}

.container-navigation {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-img {
  color: #2e2f42;
}
.header-menu-item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
/* main */
.address {
  font-style: normal;
}
.address-menu {
  display: flex;
  gap: 40px;
}
.address-menu-item {
}
.address-menu-list {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.address-menu-list:hover,
.address-menu-list:focus {
  color: #404bbf;
}

/*  Solutions */

.solutions-header-button {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.menu-btn-button {
}

.solutions-title-main {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;

  margin-bottom: 48px;
}
.solutions-btn-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
}
.solutions-btn:hover,
.solutions-btn:focus {
  color: #fff;
  background-color: #404bbf;
}

/* advantages */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-menu {
  display: flex;
  gap: 24px;
}
.advantages-menu-list {
  width: calc((100% - 72px) / 4);
}
.advantages-icon {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}

.icon-advantages {
  width: 64px;
  height: 64px;
  margin: 24px 100px;
}

.advantages-menu-item {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 8px;
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}

.advantages-menu-descr {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* team */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-content-desc {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  display: block;
  text-align: center;
}

.team-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  text-align: center;
}

.menu-team-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-icon {
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
  background-color: #4d5ae5;
}
.team-icon:hover,
.team-icon:focus {
  background-color: #404bbf;
}

.icons-team {
  width: 16px;
  height: 16px;
  margin: 12px;
  fill: #fff;
}

.team-image {
}

/* Portfolio */
.portfolio-main-page {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title-nav {
}

.portfolio-main-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-content-desc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-sudtitle-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-desc-item {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfoli-image-down {
}

/* footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.footer-logo-flex {
  margin-right: 120px;
}

.footer-icon-flex {
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  height: 24px;
  align-items: center;
  margin-bottom: 16px;
}

.footer-logo-item {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}

.footer-desc {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-icon-heaader {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-team-icon {
  display: flex;
  gap: 16px;
}

.footer-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.footer-icon:hover,
.footer-icon:focus {
  background-color: #31d0aa;
}

.footer-icons-team {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
  margin: 8px;
}

.footer-icon-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}
